@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
html,
body {
    scroll-behavior: smooth;
  @apply bg-indigo-100; 
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  @apply font-sans;
}


